.navbar {
    border:none;
    color: white;
    background-color: black;
    border: solid;
    margin: 1px ;
}
#nav1{
    border: solid;
    border-color: white;
    color: white;
    background-color: indigo;
    padding: 15px 30px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer; 
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

#nav1:hover{
    transform: scale(1.2); /* (150% zoom)*/
}

#nav2{
    border: solid;
    border-color: white;
    color: white;
    background-color: indigo;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    font-style: oblique; 
}

#nav2:hover{
    transform: scale(1.2); /* (150% zoom)*/
}

#nav3{
    border: solid;
    border-color: white;
    color: white;
    background-color: indigo;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    font-style: oblique; 
}
#nav3:hover{
    transform: scale(1.2); /* (150% zoom)*/
}
#ref1{
    border: solid;
    border-color: white;
    color: white;
    background-color:indigo;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-style: oblique; 
    position: relative;
    transform: translateX(700px);
}
#title{
    display:inline-block;
    transform: translateX(225px);
    font-style: oblique;
    font-size: 45px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 4px;
}


.background{
    opacity: 90%;
    background-image: url("fossil_wall.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.header{
    color: white;
    background-color: black;
    font-style: oblique;
    text-decoration:underline;
    font-family: 'Times New Roman', Times, serif;
    border: solid;
    border-color:grey;
    padding: 10px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display:inline-block;
    display: block;
    margin-left: 415px;
    margin-right: 1000px;
    width: 800px;
}

.subheading{
    color: white;
    background-color: black;
    font-style: oblique;
    text-decoration:underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1050px;
    border: solid;
    border-color:grey;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    margin-left: 400px;
    margin-right: 1000px;
    width: 50%;
}
.paragraph{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color:black;
    border: solid;
    border-color:grey;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    margin-left: 100px;
    margin-right: 1000px;
    width: 85%;
}

.desc{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color:black;
    border: solid;
    border-color:grey;
    padding: 10px;
    font-size: 15px;
    visibility: visible;
}
.container1{
    display:inline-block;
    display: block;
    margin-left: 700px;
    margin-right: 1000px;
    width: 50%;
}


.picture1{
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    border: 5px solid black;
}
.zoom {
  padding: 0px;
  transition: transform .2s; /* Animation */
  width: 200px;
}

.zoom:hover {
    transform: scale(1.8); /* (150% zoom)*/
  }

  .container2{
    display:inline-block;
    display: block;
    display: flex;
    margin-left: 225px;
}


.picture1{
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    border: 5px solid black;
}

